* {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  overflow: hidden;

}

.overlay {
  position: absolute;
  background-color: black;
  opacity: 0%;
  height: 100%;
  width: 100%;
  transition: opacity 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay.active {
  opacity: 75%;
}

.start-btn {
  font-size: 75px;
  color: white;
  transition: transform 1s ease-out;
  cursor: pointer;
  background: none;
  border: 0px;
  font-weight: 400;
}

.start-btn:hover {
  transform: scale(1.1);
}

.reset-btn {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 26px;
  color: white;
  background-color: black;
  opacity: 0%;
  padding: 10px 20px;
  border-radius: 12px;
  transition: transform 0.5s, opacity 0.5s;
  cursor: pointer;
  z-index: -1;
  border: 0px;
}

.reset-btn.active {
  opacity: 50%;
  z-index: 1;
}

.reset-btn:hover {
  transform: scale(1.1);
  opacity: 100%;
}